# File temporanei Python
__pycache__/
*.pyc
*.pyo

# File di ambiente virtuale
.venv/
venv/

# Escludi cartelle specifiche
build/
original_file/
standAlone/
old/

# Escludi file specifico
ShenkController.spec

